:root{
    /* --main: #33d9b2;
    --main-trans-01: hsla(166, 69%, 53%, 0.1);
    --main-trans-02: hsla(166, 69%, 53%, 0.2);
    --main-trans-03: hsla(166, 69%, 53%, 0.3);
    --main-trans-04: hsla(166, 69%, 53%, 0.4);
    --main-trans-05: hsla(166, 69%, 53%, 0.5);
    
    --main: #575fcf;
    --main-trans-01: hsla(236, 56%, 58%, 0.1);
    --main-trans-02: hsla(236, 56%, 58%, 0.2);
    --main-trans-03: hsla(236, 56%, 58%, 0.3);
    --main-trans-04: hsla(236, 56%, 58%, 0.4);
    --main-trans-05: hsla(236, 56%, 58%, 0.5);
     */
    --main: #3867d6;
    --main-trans-01: hsla(222, 66%, 53%, 0.1);
    --main-trans-02: hsla(222, 66%, 53%, 0.2);
    --main-trans-03: hsla(222, 66%, 53%, 0.3);
    --main-trans-04: hsla(222, 66%, 53%, 0.4);
    --main-trans-05: hsla(222, 66%, 53%, 0.5);

    --header: #2e2e2e;
    --text: #4e4e4e;
    --label: #6e6e6e;
    --border: #8f8f8f;
    --bg-light: #ddd;
    --space-big: 32px;
    --space-mid: 24px;
    --space-sm: 12px;
    --font-big: 16px;
    --font-mid: 14px;
    --font-sm: 12px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    color: var(--header);
    transition: .2s;
}
.mb-12{
    margin-bottom: var(--space-sm);
}
.mt-12{
    margin-top: var(--space-sm);
}
.mb-24{
    margin-bottom: var(--space-mid);
}
.mt-24{
    margin-top: var(--space-mid);
}
.bold{
    font-weight: 600;
    margin-bottom: 8px;
}
.flex{
    display: flex;
    align-items: center;
}
#side{
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    width: 240px;
    padding-top: 32px;
    /* background: #000; */
    z-index: 1000;
}
.logo{
    position: relative;
    padding-left: 32px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.logo-image{
    width: 24px;
    height: 32px;
}
.logo i{
    margin-right: var(--space-sm);
    color: var(--main);
}
.logo a{
    margin-right: 60px;
}
.logo .fa-bars{
    color: var(--header);
    padding: 0;
    margin: 0;
    margin-right: 2px;
    display: none;
}
.fa-times{
    animation: rotation .3s ease-out;
}
@keyframes rotation {
    to{
        rotate: 180deg;
    }
}
.navbar{
    position: relative;
    margin-top: 120px;
}
.nav-link{
    position: relative;
    display: block;
    padding: 12px 0 12px 32px;
    font-size: var(--font-mid);
    font-weight: 700;
    width: 240px;
    display: flex;
    justify-content: start;
    /* background: #e0e0e0; */
}
.nav-link i{
    position: relative;
    width: 40px;
    /* background: #a52727; */
}
.nav-link p{
    position: relative;
    text-align: left;
    /* background: #000; */
}
.nav-active{
    background: var(--main);
    border-right: 4px solid var(--text);
}
.profile-info{
    position: relative;
    width: 100%;    /* background: #000; */
    padding: 24px;
}
.done{
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    color: var(--text);
    font-weight: 500;
    padding-left: 24px;
    /* background: var(--main); */
}
.send{
    position: relative;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    padding: 12px; 
    background: var(--main);
    margin-bottom: 24px;
    border-radius: 3px;
}
.profile{
    position: relative;
    width: 100%;
    padding: 0 12px;
    /* background: #bfbfbf; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile p{
    font-size: var(--font-mid);
    position: relative;
    right: 20px;
    font-weight: 700;
}
.profile i{
    font-size: var(--font-mid);
}
.profile-img{
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url('profile.jpg');
    background-size: cover;
    background-position: center 40%;
}
.map{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 440px;
    background-image: url('map.png');
    filter: grayscale(1) brightness(.3);
    z-index: 1000;
}
.location{
    position: relative;
    background: #fff;
    z-index: 100;
}
#home{
    position: relative;
    min-height: 100vh;
    width: calc(100% - 240px);
    margin-left: auto;
    /* display: flex; */
    /* margin-right: 440px; */
    background: var(--main-trans-01);
    /* padding: 32px; */
}
.home-over{
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vh - 105px);
    width: 60%;
    margin-left: auto;
    background: linear-gradient(var(--main-trans-01), var(--main-trans-03));
    filter: blur(100px);
}
    .home-up{
        position: relative;
    width: 100%;
    /* height: 80vh; */
    display: flex;
}
.home-left{
    position: relative;
    height: calc(100vh - 105px);
    width: 40%;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
}
.home-header{
    font-size: 40px;
    margin-bottom: var(--space-big);
    font-weight: 700;
}
.home-logo{
    height: 40px;
}
.home-phar{
    font-size: var(--font-big);
    font-weight: 500;
    line-height: 24px;
    margin-bottom: var(--space-sm);
}
.btn-cont{
    background: transparent;
}
.btn{
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: var(--font-big);
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    color: var(--main);
    font-weight: 700;
    background: transparent;
    /* background: var(--bg-light); */
}
.book{
    background: var(--main);
    color: white;
}
.light{
    background: var(--main-trans-03);
    color: white;
}
.home-right{
    position: relative;
    width: 60%;
    height: calc(100vh - 105px);
    /* background: #000; */
    padding: 80px;
}
.right-img{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}
.home-down{
    position: relative;
    width: 100%;
    /* height: 20vh; */
    display: grid;
    /* width: 80%; */
    grid-template-columns: repeat(5, 1fr);
    /* justify-content: space-evenly; */
    /* align-items: end; */
    background: #ffffff;
    padding: 0 10vw;
    padding-top: var(--space-big);
    padding-bottom: var(--space-big);
}
.cont{
    position: relative;
    font-size: var(--font-mid);
    color: var(--text);
    display: flex;
    align-items: center;
    /* padding-left: 24px; */
}
.nike-cont{
    padding: var(--space-sm);
    background: var(--main-trans-03);
    border-radius: 50%;
    color: var(--main);
    margin-right: var(--space-sm);
}
.nike-cont i{
    color: var(--main);
}
.down-phar{
    font-weight: 500;
}
.input-cont{
    position: relative;
    width: 100%;
    margin-bottom: 32px;
    /* background: #000; */
}
.input-cont input{
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    border: none;
    outline: 2px solid #8e8e8e;
    font-size: var(--font-mid);
    padding-left: 44px;
    border-radius: 3px;
}
.input-cont i{
    position: absolute;
    z-index: 100;
    top: 8px;
    left: 12px;
    color: var(--label);
}



.footer-left, .footer-message, .call{
    border: 1px solid var(--border);
    padding: 8px;
    border-radius: 3px;
}
.footer-left{
    padding-right: auto;
    flex: 1;
}
/* Extra large devices (large desktops, 1200px and up) */
@media (width <= 1200px) {
    .map{
        width: 0;
    }
    #home{
    width: calc(100vw - 240px);
    margin-right: 0;
}
    .home-down{
        grid-template-columns: repeat(4, 1fr);
        gap: 16px 0;
    }
}
/* Large devices (desktops, 992px and up) */
@media (width <= 992px) {
    .home-up{
        flex-direction: column-reverse;
    }
    .home-left{
        width: 100%;
        /* height: calc(100vh - 105px); */
        height: 110vh;
        padding-left: 24px;
    }
    .home-right{
        width: 100%;
        height: calc(100vh - 105px);
        height: 40vh;
        padding: 0;
    }
    .right-img{
        border-radius: 0;
    }
    .home-down{
        grid-template-columns: repeat(3, 1fr);
    }
    #home-over{
        position: absolute;
        bottom: 0 !important;
        right: 0;
        left: 0;
        /* height: calc(100vh - 105px); */
        height: 50%;
        width: 100%;
        margin-left: auto;
        background: linear-gradient(var(--main-trans-01), var(--main-trans-03));
        background: transparent;
        filter: blur(10px);
    }
}
/* Medium devices (tablets, 768px and up) */
@media (width <= 768px) {
    #side{
        /* position: absolute; */
        left: -180px;
        background: transparent;
        padding-top: 20px;
    }    
    .nav-link{
        width: 200px;
        background: transparent;
        border-right: none;
    }
    #logo .fa-bars{
        display: block;
        /* margin-right: 12px; */
        /* margin-left: auto; */
        padding: 0;
    }
    #home{
        width: calc(100% - 40px);
        width: 100%;
        /* margin-left: 40px; */
    }
    #side.active{
        left: 0;
        width: 100vw;
        background: #fff;    
        
    }
    .nav-link{
        color: transparent;
    }
    #side.active .nav-link{
        width: 100vw;
    }
    #side.active .nav-link.nav-active{
        background: var(--main);
        border-right: 4px solid var(--text);
    }
    #side.active .logo p{
        margin-right: 0;
    }
    #side.active .logo .fa{
        margin-right: 24px;
    }
    .hamburger{
        padding: 12px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 5px 5px 5px 0 #0000007a;
    }
    #side.active .hamburger{
        background: transparent;
        box-shadow: none;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (width <= 576px) {
    .home-down{
        grid-template-columns: repeat(1, 1fr);
    }
    .cont{
        padding-left: 24px;
        /* width: 100%;
        align-items: center;
        justify-content: center; */
    }
}
section, footer{
    position: relative;
    width: calc(100vw - 240px);
    margin-left: auto;
}
.sub-header{
    margin-bottom: var(--space-big);
    color: var(--header);
}
.phar{
    font-size: var(--font-mid);
    color: var(--header);
}
.phar-bold{
    font-weight: 600;
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    background: linear-gradient( #ffffff, #fff, #fff, rgba(56, 103, 214, 0.3));
}
.prod-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-mid);
    width: 80%;
}
.prod-col{
    display: grid;
    gap: var(--space-mid);
}
.prod-card{
    box-shadow: 5px 5px 15px 5px #02020221;
    border-radius: 8px;
    padding: var(--space-mid);
    background: #fff;
    height: 180px;
}
.prod-card:hover{
    transform: scale(1.07);
}
.card-up{
    display: flex;
    align-items: center;
    gap: var(--space-mid);
    margin-bottom: var(--space-sm);
}
.prod-card-image{
    height: 32px;
}
.label{
    font-size: var(--font-big);
    font-weight: 700;
    color: var(--header);
}
.prod-down{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 80px;
}
.skills, .inter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.inter{
    margin-bottom: 80px;
}
.skills .label{
    margin-bottom: var(--space-sm);
}
.skills-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    gap: var(--space-mid);
}
.skills-col{
    display: grid;
    gap: var(--space-mid);
}
.skill-card{
    box-shadow: 5px 5px 15px 5px #02020221;
    border-radius: 8px;
    padding: var(--space-mid);
    background: #fff;
    display: flex;
    align-items: center;
    gap: var(--space-mid);
}
.skill-card:hover{
    transform: scale(1.07);
}
.skill-card-image{
    height: 60px;
}
.card-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fcc{
    display: block;
    width: 100%;
    text-align: right;
    margin-left: auto;
    margin-top: 12px;
    font-size: var(--font-big);
    cursor: pointer;
    color: var(--main);
    font-weight: 700;
}
.inter-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-mid);
    width: 80%;
}
.inter-nike-cont{
    width: max-content;
    padding: 4px 8px;
    background: var(--main-trans-03);
    border-radius: 50%;
    color: var(--main);
    margin-right: var(--space-sm);
    margin-bottom: var(--space-sm);
}
.inter-nike-cont i{
    color: var(--main);
    font-size: var(--font-sm);
}
.inter-image{
    width: 400px;
}
.inter-col{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}
.inder-col-header{
    margin-bottom: 8px;
}
.team{
    display: flex;
    justify-content: center;
    position: relative;
}
.team-image{
    position: absolute;
    top: 8%;
}
.team .btn{
    margin-top: var(--space-mid);
}
.team-cont{
    display: flex;
}
.team-left{
    padding-top: 80px;
    padding-left: 10vw;
    padding-bottom: 80px;
    padding-right: 15vw;
    background: var(--main-trans-03);
}
.team-right{
    padding-top: 80px;
    padding-right: 10vw;
    padding-bottom: 80px;
    padding-left: 15vw;
    background: var(--main-trans-01);
}
.team .label{
    margin-bottom: var(--space-sm);
}
.team .phar{
    margin-bottom: var(--space-mid);
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.footer-cont{
    width: 100%;
    padding: 0 10vw;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}
.muted{
    color: var(--label);
}
.contact-cont{
    display: flex;
    gap: var(--space-sm);
}
.contact-cont .phar{
    margin-right: var(--space-mid);
}
.icon-cont{
    display: flex;
    gap: 6px;
}
.icon{
    width: 32px;
    height: 32px;
    background: #2e2e2e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon i{
    color: #fff;
}
/* Quote */
#quote.cont{
    /* Primary */
        --main: #3867d6;
    --main-trans-01: hsla(222, 66%, 53%, 0.1);
    --main-trans-02: hsla(222, 66%, 53%, 0.2);
    --main-trans-03: hsla(222, 66%, 53%, 0.3);
    --main-trans-04: hsla(222, 66%, 53%, 0.4);
    --main-trans-05: hsla(222, 66%, 53%, 0.5);
    --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
    --Desaturated-Dark-Cyan-05: hsla(180, 29%, 50%, .2);
    
    /* Ne-tral */
    /* (Background) */
    --Light-Grayish-Cyan: hsl(180, 52%, 96%);
    --Light-Grayish-Cyan-05: hsla(180, 52%, 96%, 0.2§);
    /* (Filter Tablets) */
    --Light-Grayish-Cyan2: hsl(180, 31%, 95%);
    --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
    --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
    
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: var(--main-trans-02);
p{
    font-size: 18px;
    font-weight: 500;
    color: #4e4e4e;
    line-height: 12px;
}

.header{
    position: relative;
    color: var(--Desaturated-Dark-Cyan);
}
#quote-box{
    background-color: var(--Light-Grayish-Cyan);
    border-radius: 10px;
    max-width: 600px;
    padding: 24px;
}
.body{
    margin-bottom: 24px;
}
#text{
    text-align: center;
    color: var(--Very-Dark-Grayish-Cyan);
    font-size: 24px;
    margin-bottom: 12px;
}
#author{
    text-align: right;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
#tweet-quote{
  text-decoration: none;
  color: var(--Very-Dark-Grayish-Cyan);

}

#new-quote{
    outline-color: transparent;
    border: none;
    background: var(--main);
    padding: 8px 16px;
    border-radius: 3px;
    color: var(--Light-Grayish-Cyan);
}
}
/* Calc */
#calc{
    --red: #e74c3c;
    --red2: #efaea6;
    --blue: #3498db;
    --blue2: #8fbddc;
    --grey: #bdc3c7;
    --grey2: #e8e8e8;
    --grey-2: #ecf0f1;

  display: grid;
  min-height: 100vh;
  place-items: center;
  position: relative;
  /* background: var(--grey-2); */
  /* z-index: -2; */

.calculator{
  background: hsla(0, 0%, 31%, 0.604);
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  border-top: 2px solid #dcdcdccc;
  border-left: 2px solid #dcdcdccc;
}
.num{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.res-cont{
  background: #aaaaaa;
  text-align: right;
  border-radius: 8px;
  margin-bottom: 12px;
  /* padding: 4px; */
  font-size: 26px;
  padding-right: 11px;
  border-top: 2px solid #575757;
  border-left: 2px solid #515151;
}
.res{
  padding: 0;
}
#display{
  font-size: 30px;

}
.key{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  background: var(--grey);
  border: none;
  outline-color: transparent;
  border-top: 2px solid var(--grey2);
  border-left: 2px solid var(--grey2);
  z-index: 1000;
}
.clear{
  width: 128px;
  grid-column: span 2;
  background: var(--red);
  border-top: 1px solid var(--red2);
  border-left: 1px solid var(--red2);
}
.zero{
  grid-column: span 2;
  width: 128px;
}
.equals{
  grid-row: span 2;
  height: 128px;
  background: var(--blue);
  border-top: 2px solid var(--blue2);
  border-left: 2px solid var(--blue2);
}
.op{
  background: var(--grey-2);
}
p{
    font-size: 16px;
}
.key:hover{
  filter: brightness(1.3) !important;
  transition: .3s;
}
}
.shape{
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #000;
  z-index: -1;
  background: linear-gradient(#c44569, #546de5);
  /* pointer-events: none; */
}
.shape-1{
  top: 0%;
  left: 20%;
  animation: anime1 5s infinite forwards ease-in-out;
}
.shape-2{
  width: 400px;
  height: 400px;
  bottom: 10%;
  right: 5%;
  background: linear-gradient(#e15f41, #f7d794);
  animation: anime2 10s infinite forwards ease-in-out;
}
@keyframes anime1 {
  0%{
    top: 0%;
    transform: scale(.8);
  }
  50%{
    top: 30%;
    transform: scale(1);
  }
  100%{
    top: 0%;
    transform: scale(.8);
  }
}
@keyframes anime2 {
  0%{
    right: -5%;
  }
  50%{
    right: 25%;
  }
  100%{
    right: -5%;
  }
}
/* Clock */
#clock{
    --main: #ffaf40;
  --main-2: #ffaf40;

  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #2e2e2e;
  position: relative;
  overflow: hidden;
  color: #e4e4e4 !important;
  
  .clock{
      background-color: #4e4e4e;
      border-radius: 12px;
      border: 1px solid rgba(209, 213, 219, 0.3);
      padding: 24px;
    }
    .header{
        text-align: center;
        font-size: 26px;
        margin-bottom: 12px;
  font-weight: 600;
  color: var(--main);
}
p{
  font-size: 16px;
}
.flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.btn-cont{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.label{
    display: block;
    text-align: center;
    color: #e4e4e4 !important;
    font-weight: 400;
}
.display{
    text-align: center;
    color: #e4e4e4 !important;
    font-size: 18px;
}
.clock-btn{
  border: none;
  outline-color: transparent;
  border: 2px solid #8e8e8e;
  color: #2e2e2e;
  font-size: 18px;
}
.btn-i{
  background: #8e8e8e;
  border-radius: 4px;
  width: 140px;
  height: 30px;
}
.session-cont{
  margin-top: 14px;
  margin-bottom: 14px;
}
#timer-label{
  display: block;
  width: 100%;
  text-align: center;
  color: #e4e4e4 !important;
}
#time-left{
  font-size: 32px;
  text-align: center;
  color: #f7f7f7;
  color: var(--main);
}
.c-btn-cont{
  display: flex;
  width: 100%;
  gap: 12px;
}
.btn-c{
    width: 140px;
    height: 30px;
    background: #8e8e8e;
    border-radius: 4px;
}
.clock-footer{
    padding: 0;
    margin-top: 16px;
    text-align: right !important;
    color: #e4e4e4 !important;

}
.footer-label{
  color: var(--main);
  padding-left: 6px;
}
.clock-btn:hover{
  border: 2px solid var(--main-2);
  color: var(--main-2);
  background: #6e6e6e;
  filter: brightness(1.1);
}
}
#drums{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #2e2e2e;

    p{
    font-size: 16px;
}
#drum-machine{
  background: #4e4e4e;padding: 24px;
  border-radius: 12px;
}
.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-bottom: 12px;
}
.on{
  border: none;
  outline-color: transparent;
  background: #6e6e6e;
  width: 80px;
  /* height: 30px; */
  border-radius: 20px;
  padding: 3px;
  border: 2px solid #6e6e6e;
}
.drum-btn{
  width: 24px;
  height: 24px;
  background: #8e8e8e;
  border-radius: 13px;
}
.on-on .drum-btn{
  position: relative;
  transform: translateX(47px);
  background: #3dc1d3;
}
.on-on{
  border: 2px solid #3dc1d3;

}
.on:hover{
  filter: brightness(1.2);
}
.drum-cont{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
.logo{
  color: #3dc1d3;
  font-size: 18px;
}
.drum-pad{
  width: 80px;
  height: 60px;
  border: none;
  outline-color: transparent;
  border-radius: 4px;
  background-color: #6e6e6e;
  color: #fff;
  border: 2px solid #6e6e6e;
}
.drum-pad:hover{
  filter: brightness(1.2);
  border: 2px solid #3dc1d3;
  color: #3dc1d3;
}
#display{
  display: grid;
  place-items: center;
  width: 100%;
  height: 50px;
  background: #6e6e6e;
  margin-bottom: 12px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
}
#markdovn{
    --main: #e17055;

    --main-trans-01: hsla(222, 66%, 53%, 0.1);
    --main-trans-02: hsla(222, 66%, 53%, 0.2);
    --main-trans-03: hsla(222, 66%, 53%, 0.3);
    --main-trans-04: hsla(222, 66%, 53%, 0.4);
    --main-trans-05: hsla(222, 66%, 53%, 0.5);

        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #c4c4c4;
        padding: 32px;
    p{
        font-size: 16px;
    }
.header{
  width: 100%;
  background: var(--main);
  border-radius: 8px 8px 0 0;
  padding: 8px;
  font-size: 18px;
  color: #2e2e2e;
  color: #e1e1e1;
}
#editor{
  background: #eee;
  border: none;
  border-radius: 0 0 8px 8px;
  width: 70vw;
  min-height: 200px;
  margin-bottom: 24px;
  padding: 24px;
  resize: vertical;
}
#preview{
  min-height: 50vh;
  background: #eee;
  border: none;
  /* border-radius: 8px; */
  border-radius: 0 0 8px 8px;
  width: 70vw;
  padding: 24px;

}
img{
    max-width: 100%;
}
h1{
    margin: var(--space-mid) 0;
}
p{
    margin: 8px 0;
}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (width < 1200px)  {}

/* Large devices (desktops, 992px and up) */
@media (width < 992px) {
    #home{
        min-height: 100vh;
    }
    .prod-cont{
        grid-template-columns: 1fr;
    }
    .skills-cont{
        grid-template-columns: 1fr;
    }
    .inter-cont{
        grid-template-columns: repeat(1, 1fr);
    }
    .inter-image{
        width: 50vw;
        margin: 0 auto;
    }
    .team-cont{
        flex-direction: column;
    }
    .team-left{
        padding-bottom: 200px;
    }
    .team-right{
        padding-top: 200px;
    }
    .team-image{
        top: 300px;
    }
    .home-left{
        height: max-content;
        padding: 24px;
        padding-bottom: var(--space-big);
    }
    .home-phar{
        margin-bottom: var(--space-mid);
    }
    .sub-header{
        text-align: center;
        margin: 0 var(--space-mid);
        margin-bottom: var(--space-mid);
    }
    .home-down{
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-sm) var(--space-mid);
    }
    .home-down .cont{
        margin: 0;
        padding: 0;
    }
    #quote-box{
        margin: var(--space-mid);
    }
    .contact-cont{
        flex-direction: column;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (width < 768px) {
    section, footer{
        width: calc(100vw - 40px);
        width: 100vw;
        margin-left: auto;
    }
    .footer-cont{
        grid-template-columns: repeat(1, 1fr);
        gap: var(--space-mid);
    }
    #quote{
        padding: 24px;
    }
    #quote-box{
        width: 100%;
    }
    .inter-image{
        width: 80vw;
        margin: 0 auto;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (width < 576px) {}